/* Color Theme */
:root {
  --primary: #3F334D;
  --secondary: #574B60;
  --grey: #222222;
  --contrast: #EAF0CE;
  --high-contrast: #f6f8eb;
}
/* Full page */
body{
  background-color: var(--primary);
  color: var(--high-contrast)
}
/* Form containers */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.form *{
  margin: 3px 0px;
}