/* Color Theme */
:root {
  --primary: #3F334D;
  --secondary: #574B60;
  --grey: #222222;
  --contrast: #EAF0CE;
  --high-contrast: #f6f8eb;
}
/* Full page */
body{
  background-color: var(--primary);
  color: var(--high-contrast)
}
/* Form containers */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.form *{
  margin: 3px 0px;
}
.sign-up-btn{
align-items: center;
}
/* Header Style */
header{
  display: flex;
  justify-content: center;
}
/* Footer Style */
footer{
  display: flex;
  justify-content: center;
}
/* HomePage Style */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
/* Links Styles */
#links{
  display: flex;
  justify-content: space-evenly;
}
#links a{
  color: var(--high-contrast);
  text-decoration: none;
}
#links a:hover{
  color: var(--grey);
  background-color: var(--contrast);
  transform: scale(1.5);
}